<form action="/productos" method="post">
    <input type="text" name="title" placeholder="title" />
    <input type="number" name="price" placeholder="price" />
    <input type="text" name="thumbnail" placeholder="thumbnail" />
    <button type="submit">Guardar los producto</button>
</form>

<a href="/productos"><button>Ver productos</button></a>